* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle farthest-corner at 10% 20%,
      /* rgba(100, 43, 115, 1) 0%, 
      rgba(4, 0, 4, 1) 90%); */
      rgb(25, 74, 101) 0%,
      rgb(38, 4, 38) 90%);
  background-repeat: no-repeat;
  backdrop-filter: blur(50px);
  background-size: cover;
  color: white;
  width: 1519px;
}

.nav {
  background-image: radial-gradient(circle farthest-corner at 10% 20%,
      /* rgba(100, 43, 115, 1) 0%,
      rgba(4, 0, 4, 1) 90%); */
      rgb(25, 74, 101) 0%,
      rgb(38, 4, 38) 90%);
  display: flex;
  justify-content: space-around;
}

.navbar {
  position: sticky;
  top: 0;
}

.named {
  text-align: center;
  align-items: center;
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.nav li {
  list-style: none;
  padding: 5px 50px;
}

.headin {
  font-size: 25px;
  margin-top: 12px;
}

.search {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

#search {
  margin-top: 30px;
  margin-left: 380px;
  padding: 1px 20px;
  border-radius: 10px;
  height: 35px;
  width: 350px;
  background-color: #2f293e;
  color: white;
}

.search input {
  color: white;
}

.view {
  display: flex;
  gap: 30px;
}



.card {
  margin-left: 20px;
  /* display: flex; */
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin: 30px;
  list-style: none;
}

.card-box {
  height: 200px;
  width: 180px;
  background: #282835a6;
  border-radius: 10px;
  text-align: center;
  font-family: "baloo bhai", cursive;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}


.card-box img {
  width: 180px;
  height: 110px;
}

.Indiateam {
  text-decoration: none;
}

.card-box img {
  border-radius: 10px;
}

.card-box h1 {
  color: white;
  margin-top: 40px;
}

.intro {
  height: 100px;
  width: 180px;
  padding: 6px;
  box-sizing: border-box;
  position: relative;
  color: white;
  bottom: 25px;
  transition: 500ms;
}

.card-box p {
  visibility: hidden;
  opacity: 0;
}

.card-box:hover .intro {
  height: 222px;
  bottom: 125px;
  background: rgba(0, 0, 0, 0.556);
}

.card-box:hover h1 {
  color: white;
}

.card-box:hover p {
  opacity: 1;
  visibility: visible;
}

.login {
  color: white;
  background-image: linear-gradient(to right,
      #aa076b 0%,
      #61045f 51%,
      #aa076b 100%);
  height: 30px;
  width: 100px;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 100px;
  margin-top: 10px;
  cursor: pointer;
}

.logout {
  color: white;
  background-image: linear-gradient(to right,
      #aa076b 0%,
      #61045f 51%,
      #aa076b 100%);
  height: 30px;
  width: 100px;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 100px;
  margin-top: 10px;
  cursor: pointer;
}

.hdbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 5px;
}

.players {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 5px;
}

.players ul {
  height: 280px;
  list-style: none;
  border: 2px solid black;
  width: 320px;
  margin: 25px;
  padding: 20px;
  background-color: #aa076b;
  border-radius: 10px;
  margin-left: 30px;
  cursor: pointer;
}

.players ul li img {
  border-radius: 50%;
  width: 110px;
  height: 100px;
  margin-top: 20px;
}

.playerslist {
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 40px;
  background-color: #5e0f5e;
}

.playerslist li {
  padding: 10px 20px;
  height: 70px;
}

.playerdets {
  text-align: center;
}

.playername {
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.playerimg {
  height: 100px;
}

#Playersearch {
  display: block;
  margin: auto;
  padding: 1px 20px;
  border-radius: 10px;
  height: 35px;
  width: 350px;
  background-color: #2f293e;
  color: white;
  margin-top: 20px;
}

.Playersearch {
  display: flex;
}

.Btn {
  height: 30px;
  width: 70px;
  border-radius: 30px;
  background-image: linear-gradient(to right,
      #c04848 0%,
      #480048 51%,
      #c04848 100%);
  color: white;
  margin-left: 50px;
  cursor: pointer;
}

.ranking-table {
  height: auto;
  width: 530px;
  right: 30px;
  padding: 10px 20px;
  background-color: rgb(128, 12, 93);
}

.ranking-table h2 {
  text-align: center;
  font-size: 27px;
}

.btnr {
  height: 30px;
  width: 70px;
  border-radius: 20px;
  background-image: linear-gradient(to right,
      #c04848 0%,
      #480048 51%,
      #c04848 100%);
  color: white;
  margin-top: 5px;
  cursor: pointer;
}

.categorybtn {
  margin-left: 60px;
  margin-top: 15px;
  gap: 80px;
  display: flex;
}

.formatbtn {
  gap: 40px;
  margin-left: 100px;
  margin-top: 10px;
  display: flex;
}

.btnrf {
  height: 30px;
  width: 70px;
  border-radius: 20px;
  background-image: linear-gradient(to right,
      #c04848 0%,
      #480048 51%,
      #c04848 100%);
  color: white;
  cursor: pointer;
}

.genderbtn {
  gap: 40px;
  margin-left: 160px;
  margin-top: 10px;
  display: flex;
}

.btnrg {
  height: 30px;
  width: 70px;
  border-radius: 20px;
  background-image: linear-gradient(to right,
      #c04848 0%,
      #480048 51%,
      #c04848 100%);
  color: white;
  cursor: pointer;
}

.allrounder-button {
  height: 30px;
  width: 85px;
  border-radius: 30px;
  background-image: linear-gradient(to right,
      #c04848 0%,
      #480048 51%,
      #c04848 100%);
  color: white;
  margin-top: 5px;
  cursor: pointer;
}

.mainrank {
  margin-top: 30px;
  background-color: #49063f;
}

.ranktable {
  display: flex;
  list-style: none;
}

.rankingt1 {
  border: 1px solid white;
  width: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rankingt2 {
  border: 1px solid white;
  width: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rankingt3 {
  border: 1px solid white;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.rankingt4 {
  border: 1px solid white;
  width: 50px;
}

.rankingt5 {
  border: 1px solid white;
  width: 115px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  word-break: break-all;
}

.rankingt6 {
  border: 1px solid white;
  width: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rankingt7 {
  border: 1px solid white;
  width: 55px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tab1 {
  height: 50px;
  border: 1px solid white;
  width: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;


}

.tab2 {
  border: 1px solid white;
  width: 50px;
  word-break: break-all;


}

.tab3 {
  border: 1px solid white;
  width: 100px;
  word-break: break-all;

}

.tab4 {
  border: 1px solid white;
  width: 50px;
  word-break: break-all;
}

.tab5 {
  border: 1px solid white;
  width: 115px;
  word-break: break-all;

}

.tab6 {
  border: 1px solid white;
  width: 60px;
  word-break: break-all;

}

.tab7 {
  border: 1px solid white;
  width: 55px;
  word-break: break-all;

}



/* 


@media screen and (max-width: 550px) {
  .cards {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 1200px) {
  body {
    width: 100%;
  }

  #search {
    margin-left: 250px;
    margin-bottom: 10px;
  }

  .view {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .players {
    grid-template-columns: 1fr 1fr;
  }

  .players ul {
    width: 100%;
  }

  .ranking-table {
    position: absolute;
    width: 365px;
    margin-top: 28px;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .players {
    grid-template-columns: 1fr;
  }

  .ranking-table {
    width: 365px;
    margin-top: 28px;
  }

  .view {
    width: 100%;
  }
} */